* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: 'Manrope', sans-serif;
}

ul {
  list-style: none;
}

.title {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

::selection {
    background-color: #FFD15B;
    color: #000;
}
